/* Colors */

$black:#161A1D;
$dark-red:#660708;
$red:#BA181B;
$gray:rgb(80,80,80);
$dark-gray:darken($gray, 20%);
$off-white:#eaeaea;
$joycon-blue:#01C3E3;
$joycon-blue-dark:darken($joycon-blue, 32%);
$zelda-gold:#D3CE46;