// Bootstrap
@import "variables";
@import "bootstrap-overrides";
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
	font-size:12px;
	height:100%;
	overflow-y:scroll;

	// Small devices (landscape phones, 34em and up)
	@media (min-width: 34em) {
		font-size:13px;
	}

	// Medium devices (tablets, 48em and up)
	@media (min-width: 48em) {
		font-size:14px;
	}

	// Large devices (desktops, 62em and up)
	@media (min-width: 62em) {
		font-size:15px;
	}

	// Extra large devices (large desktops, 75em and up)
	@media (min-width: 75em) {
		font-size:16px;
	}
}

body {
	height:100%;
	color:$dark-gray;
	font-family: 'Roboto', sans-serif;
	background-color:darken($off-white, 5%);
}

main {
	margin-top:1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Archivo Black', sans-serif;
	text-transform:uppercase;
	color:$dark-gray;
}

h1 {
	font-size: 2.6rem;
}

h2 {
	font-size:2.2rem;
}

h3 {
	font-size:1.8rem;
}

h4 {
	font-size:1.4rem;
}

h5 {
	font-size:1rem;
}

h6 {
	font-size:0.6rem;
}

a {
    color: darkblue;
    text-decoration: underline;
}

#site-logo-container {
	font-family: 'Archivo Black', sans-serif;
	color:$off-white;
	font-size:23px;
	text-transform:uppercase;
}

.nw-nav {
	height:50px;
	border-bottom:1px solid lighten($gray, 50%);
	background-color:$red;
	color:$white;
}

.page-title {
	color:$black;
	margin:1.5rem 0;

	&.franchise-title {
		.brackets {
			font-size:1.2em;
		}
	}
}

.days-bar {
	background-color: #dfdfdf;
    width: 100%;
    height: 0.8rem;
    display:flex;
    overflow:hidden;
    border-radius: 0.4rem;

    .center {
    	width:1px;
    	transform-origin:left;
    	transition: transform 0.75s cubic-bezier(0.04, 0.6, 0.43, 1);
    }

    .left, .right {
    	height: 100%;
	    width: 0.4rem;
    }

    .right {
    	transition: transform 0.75s cubic-bezier(0.04, 0.6, 0.43, 1);
    }
}

.game-container {
    padding: 1.4rem 0;

    &:not(:last-child) {
    	border-bottom: 1px solid lighten($gray, 56%);
    }


	&.upcoming-game {

		.game-name {
			font-family: 'Archivo Black', sans-serif;
		}

		.countdown-container {
			background-color:$white;
			border: 2px solid;
			color:#fff;
			border-radius:5px;
			padding:0 0.25rem;
		}

		.countdown {

			.digit, .released {
				display:inline-block;
				font-size:2rem;
				font-weight:bold;
				padding: 0 0.5rem;

				.letter {
					font-size:0.5em;
				}
			}
		}

		.tbd {
			text-align:center;
			font-size:2rem;
			font-weight:bold;
		}
	}
}

.game-image {
	max-width:5rem;
	max-height:8rem;
}

.game-diff-num-container {
	display:inline-block;
	padding-right:0.3rem;
	.game-diff-num {
	    font-size: 1.3em;
    	font-weight: bold;
	}
}

.game-name {
	width:100%;
	font-size: 1rem;
}

.game-tag {
	display:inline-block;
	color:white;
	padding:0.2rem 0.4rem;
	font-size:0.7rem;
	border-radius:5px;
}

.card.filters {
	.card-header {
		border:none;
		font-size:1.3rem;
	}

	.filter-label {
		text-transform:uppercase;
		font-size:1.1rem;
		font-family: 'Archivo Black', sans-serif;
	}
}

.franchise-overview-card {
	font-size:0.8rem;
	font-weight:bold;
	text-align:center;
	color:black;

	h2 {
		font-size:0.8rem;
		font-weight:bold;
	}

	h3 {
	font-size:0.8rem;
	}

	.game-diff-container {
		font-size:0.7rem;
	}

	transition:background-color 0.10s ease-in;

	&:hover {
		text-decoration:none;
		background-color:rgba($gray, 0.1);
	}
}

#games-container {
	h2 {
		font-size:1.8rem;
	}
}

.face-status {

	font-size:1.2rem;

	&.good {
		color:#7AC74F;
	}

	&.neutral {
		color:#F24236;
	}

	&.bad {
		color:#F57C01;
	}

	&.dead {
		color:#F24236;
	}
}

#franchise-name-container {
	max-width:540px;
}

.franchise-container {

	&:not(:last-child) {
    	border-bottom: 1px solid lighten($gray, 56%);
    }

	h3 {
		font-size:1rem;
	}

	h4 {
		font-size:0.8rem;
	}

	.game-diff-num {
		font-size:1.1rem;
	}

	.franchise-title {
		color:$dark-gray !important;
		text-decoration:underline;
	}

	transition: background-color 0.10s ease-in;
}

#loader-container {
	display:none;
	position:fixed;
	padding:1rem;
	margin:5% auto;
	border-radius:100%;
	background-color:$white;
	border:2px solid $red;
	top: 50%;
	left: 50%;
	margin-top: calc(-40px - 1rem); /* Negative half of height. */
	margin-left: calc(-40px - 1rem); /* Negative half of width. */
}
.loader {
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  display: inline-block;
  background-color:$red;
  position: absolute;
  left: 8px;
  width: 16px;
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


/* Checkboxes */

.form-check {
	margin:0.25rem;
}
